<template>
    <lightning-card>
        <div class="slds-var-m-around_medium">
            <lightning-layout
                vertical-align="end"
                class="slds-var-m-bottom_small"
            >
            <!--Input field to serch  book name where Google api fetches the data using rest api call from javascriot-->
                <lightning-layout-item flexibility="grow">
                    <lightning-input
                        type="search"
                        onchange={handleSearchKeyChange}
                        label="Search Books"
                        value={searchKey}
                    ></lightning-input>
                </lightning-layout-item>
                <lightning-layout-item class="slds-var-p-left_xx-small">
                    <lightning-button
                        label="Search"
                        onclick={handleSearchClick} 
                    ></lightning-button>
                </lightning-layout-item>
            </lightning-layout>
            <template if:true={books}>
                <template for:each={books.items} for:item="book">
                    <p key={book.id}>{book.volumeInfo.title}</p>
                </template>
            </template>
            <template if:true={error}>
                Error while fetching {error}
            </template>
        </div>

    </lightning-card>
</template>